@{
    var action = ViewContext.RouteData.Values["action"].ToString();
    var NameTitrecontroller = ViewBag.NameTitrecontroller;
    var Namecontroller = ViewContext.RouteData.Values["controller"].ToString();
    var controller = ViewBag.Controleur;
    var projet = ViewBag.Projet;
    bool statut = false;
    var etat = "";
    if (@Session["LOGIN"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
<!DOCTYPE html>

<html data-navigation-type="default" data-navbar-horizontal-shape="default" lang="en-US" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>2DBC</title>

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @* @Scripts.Render("~/Scripts/bundle")
        @Scripts.Render("~/Scripts/DevExtremeBundle")*@


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/2DBC.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/2DBC.png">
    @*<link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">*@
    @*<link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico">*@
    <link rel="manifest" href="~/images/manifest.json">
    <meta name="msapplication-TileImage" content="~/images/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src="~/js/config.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="~/Content/css/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="~/Content/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="~/Content/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="~/Content/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="~/Content/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />

    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script>
        var phoenixIsRTL = window.config.config.phoenixIsRTL;
        if (phoenixIsRTL) {
            var linkDefault = document.getElementById('style-default');
            var userLinkDefault = document.getElementById('user-style-default');
            linkDefault.setAttribute('disabled', true);
            userLinkDefault.setAttribute('disabled', true);
            document.querySelector('html').setAttribute('dir', 'rtl');
        } else {
            var linkRTL = document.getElementById('style-rtl');
            var userLinkRTL = document.getElementById('user-style-rtl');
            linkRTL.setAttribute('disabled', true);
            userLinkRTL.setAttribute('disabled', true);
        }
    </script>
    <link href="~/Content/css/leaflet.css" rel="stylesheet">
    <link href="~/Content/css/MarkerCluster.css" rel="stylesheet">
    <link href="~/Content/css/MarkerCluster.Default.css" rel="stylesheet">
    <!-- code bar link library -->
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>

    <!-- pdf link library -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body style="padding-top: 5rem;">
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <nav class="navbar navbar-vertical navbar-expand-lg" style="display:none;">
            <script>
                var navbarStyle = window.config.config.phoenixNavbarStyle;
                if (navbarStyle && navbarStyle !== 'transparent') {
                    document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
                }
            </script>
            <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
                <!-- scrollbar removed-->
                <div class="navbar-vertical-content">
                    <ul class="navbar-nav flex-column" id="navbarVerticalNav">
                        <li class="nav-item">
                            <p class="navbar-vertical-label"><strong>Configuration</strong></p>
                            <hr class="navbar-vertical-line" />
                            <div class="nav-item-wrapper">
                                <a class="nav-link dropdown-indicator label-1" href="#nv-app" role="button" data-bs-toggle="collapse" aria-expanded="@statut" aria-controls="nv-CRM">
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><i class="fa fa-cog"></i></span><span class="nav-link-text">Fichiers</span><span class="fa-solid fa-circle text-info ms-1 new-page-indicator" style="font-size: 6px"></span>
                                    </div>
                                </a>
                                <div class="parent-wrapper label-1">
                                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-app">
                                        <li class="collapsed-nav-item-title d-none">Fichiers</li>
                                        <li class="nav-item">
                                            <a class="nav-link Fichiers" href="#" name="NewConnexion" data-bs-toggle="" aria-expanded="false">
                                                <div class="d-flex align-items-center"><span class="nav-link-text">Nouvelle Connexion</span></div>
                                            </a> 
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link Fichiers" name="ChangerLangue" href="#" data-bs-toggle="" aria-expanded="false">
                                                <div class="d-flex align-items-center"><span class="nav-link-text">Changer de Langue</span></div>
                                            </a> 
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link Codifications" href="#" name="Groupe" data-bs-toggle="" aria-expanded="false">
                                                <div class="d-flex align-items-center"><span class="nav-link-text">Groupe</span></div>
                                            </a> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-item-wrapper">
                                <a class="nav-link dropdown-indicator label-1" href="#nv-paramGen" role="button" data-bs-toggle="collapse" aria-expanded="@(Namecontroller == "Parametrage"?"true":"false")" aria-controls="nv-CRM">
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><i class="fa fa-cog"></i></span><span class="nav-link-text">Paramètres généraux</span><span class="fa-solid fa-circle text-info ms-1 new-page-indicator" style="font-size: 6px"></span>
                                    </div>
                                </a>
                                <div class="parent-wrapper label-1">
                                    <ul class="nav collapse parent @(Namecontroller == "Parametrage"?"show":"")" data-bs-parent="#navbarVerticalCollapse" id="nv-paramGen">
                                        <li class="collapsed-nav-item-title d-none">Paramètres généraux</li>
                                        <li class="nav-item">
                                            <a class="nav-link Parametrage @(action == "EnteteProjet"?"active":"")" href="#" name="EnteteProjet" data-bs-toggle="" aria-expanded="false">
                                                <div class="d-flex align-items-center"><span class="nav-link-text">Entête du projet</span></div>
                                            </a> 
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link Parametrage @(action == "Pays"?"active":"")" href="#" name="Pays" data-bs-toggle="" aria-expanded="false">
                                                <div class="d-flex align-items-center"><span class="nav-link-text">Pays</span></div>
                                            </a> 
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link Parametrage @(action == "Monnaie"?"active":"")" href="#" name="Monnaie" data-bs-toggle="" aria-expanded="false">
                                                <div class="d-flex align-items-center"><span class="nav-link-text">Monnaie</span></div>
                                            </a> 
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link Parametrage @(action == "Exercices"?"active":"")" href="#" name="Exercices" data-bs-toggle="" aria-expanded="false">
                                                <div class="d-flex align-items-center"><span class="nav-link-text">Exercices</span></div>
                                            </a> 
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link Parametrage @(action == "unites"?"active":"")" href="#" name="unites" data-bs-toggle="" aria-expanded="false">
                                                <div class="d-flex align-items-center"><span class="nav-link-text">Unité</span></div>
                                            </a> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>





                        <li class="nav-item">
                            <p class="navbar-vertical-label"><strong>Application</strong></p>
                            <hr class="navbar-vertical-line" />
                            <div class="nav-item-wrapper">
                                <a class="nav-link dropdown-indicator label-1" href="#appFinpronet" role="button" data-bs-toggle="collapse" aria-expanded="@(NameTitrecontroller == "FINPRO"?"true":"false")" aria-controls="appFinpronet">
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><i class="fa fa-cog"></i></span><span class="nav-link-text">FINPRONET</span><span class="fa-solid fa-circle text-info ms-1 new-page-indicator" style="font-size: 6px"></span>
                                    </div>
                                </a>
                                <div class="parent-wrapper label-1">
                                    <ul class="nav collapse parent @(NameTitrecontroller == "FINPRO"?"show":"")" data-bs-parent="#navbarVerticalCollapse" id="appFinpronet">
                                        <li class="collapsed-nav-item-title d-none">FINPRONET</li>
                                        <li class="nav-item">
                                            <a class="nav-link dropdown-indicator" href="#nv-CRM" role="button" data-bs-toggle="collapse" aria-expanded="@(Namecontroller == "FINPRO_Codifications"?"true":"false")" aria-controls="nv-CRM">
                                                <div class="d-flex align-items-center">
                                                    <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Codifications</span>
                                                </div>
                                            </a>
                                            <div class="parent-wrapper">
                                                <ul class="nav collapse parent @(Namecontroller == "FINPRO_Codifications"?"show":"")" data-bs-parent="#appFinpronet" id="nv-CRM">
                                                    <li class="collapsed-nav-item-title d-none">Codifications</li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINPRO_Codifications @(action == "Structures"?"active":"")" href="#" name="Structures" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Structures</span></div>
                                                        </a> 
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINPRO_Codifications" name="PlanCompte" href="#" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Plans de comptes</span></div>
                                                        </a> 
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINPRO_Codifications" href="#" name="ParametreGeneraux" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Paramètres généraux</span></div>
                                                        </a> 
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-item-wrapper">
                                                <a class="nav-link dropdown-indicator" href="#nv-project-management" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-project-management">
                                                    <div class="d-flex align-items-center">
                                                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Comptabilité générale</span>
                                                    </div>
                                                </a>
                                                <div class="parent-wrapper">
                                                    <ul class="nav collapse parent" data-bs-parent="#appFinpronet" id="nv-project-management">
                                                        <li class="collapsed-nav-item-title d-none">Comptabilité générale</li>
                                                        <li class="nav-item">
                                                            <a class="nav-link ComptabiliteGenerale" href="#" name="Parametres" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Paramètres</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link ComptabiliteGenerale" href="#" name="Saisie" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Saisie</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link ComptabiliteGenerale" href="#" name="Editions" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Editions</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link ComptabiliteGenerale" href="#" name="TravauxPeriodiques" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Travaux Périodiques</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link ComptabiliteGenerale" href="#" name="Brouillard" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Brouillard</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link ComptabiliteGenerale" href="#" name="Importation" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Importation</span></div>
                                                            </a> 
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-item-wrapper">
                                                <a class="nav-link dropdown-indicator" href="#nv-email" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-email">
                                                    <div class="d-flex align-items-center">
                                                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Comptabilité Analytique</span>
                                                    </div>
                                                </a>
                                                <div class="parent-wrapper">
                                                    <ul class="nav collapse parent" data-bs-parent="#appFinpronet" id="nv-email">
                                                        <li class="collapsed-nav-item-title d-none">Comptabilité Analytique</li>
                                                        <li class="nav-item">
                                                            <a class="nav-link ComptabiliteAnalytique" href="#" name="Parametres" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Paramètres</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link ComptabiliteAnalytique" href="#" name="Exploitations" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Exploitations</span></div>
                                                            </a> 
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-item-wrapper">
                                                <a class="nav-link dropdown-indicator" href="#nv-events1" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-events">
                                                    <div class="d-flex align-items-center">
                                                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Suivi budgétaire</span>
                                                    </div>
                                                </a>
                                                <div class="parent-wrapper">
                                                    <ul class="nav collapse parent" data-bs-parent="#appFinpronet" id="nv-events1">
                                                        <li class="collapsed-nav-item-title d-none">Suivi budgétaire</li>
                                                        <li class="nav-item">
                                                            <a class="nav-link SuiviBudgetaire" href="#" name="Parametres" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Paramètres</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link SuiviBudgetaire" href="#" name="Saisie" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Saisie</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link SuiviBudgetaire" href="#" name="Exploitations" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Exploitations</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link SuiviBudgetaire" href="#" name="ExploitationsPrevision" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Exploitations Prévisionnnelles</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link SuiviBudgetaire" href="#" name="TravauxPeriodiques" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Travaux Périodiques</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link SuiviBudgetaire" href="#" name="Alertes" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Alertes</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link SuiviBudgetaire" href="#" name="Importation" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Importation</span></div>
                                                            </a> 
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-item-wrapper">
                                                <a class="nav-link dropdown-indicator" href="#nv-events2" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-events">
                                                    <div class="d-flex align-items-center">
                                                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Suivi des conventions</span>
                                                    </div>
                                                </a>
                                                <div class="parent-wrapper">
                                                    <ul class="nav collapse parent" data-bs-parent="#appFinpronet" id="nv-events2">
                                                        <li class="collapsed-nav-item-title d-none">Suivi des conventions</li>
                                                        <li class="nav-item">
                                                            <a class="nav-link SuiviConvention" href="#" name="ParametresIDA" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Paramètres IDA</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link SuiviConvention" href="#" name="SaisieIDA" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Saisie IDA</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link SuiviConvention" href="#" name="ExploitationsIDA" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Exploitations IDA</span></div>
                                                            </a> 
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-item-wrapper">
                                                <a class="nav-link dropdown-indicator" href="#nv-events3" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-events">
                                                    <div class="d-flex align-items-center">
                                                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Immobilisations</span>
                                                    </div>
                                                </a>
                                                <div class="parent-wrapper">
                                                    <ul class="nav collapse parent" data-bs-parent="#appFinpronet" id="nv-events3">
                                                        <li class="collapsed-nav-item-title d-none">Immobilisations</li>
                                                        <li class="nav-item">
                                                            <a class="nav-link Immobilisations" href="#" name="Parametres" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Paramètres</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link Immobilisations" href="#" name="Saisie" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Saisie</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link Immobilisations" href="#" name="Exploitations" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Exploitations</span></div>
                                                            </a> 
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-item-wrapper">
                                                <a class="nav-link dropdown-indicator" href="#nv-events4" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-events">
                                                    <div class="d-flex align-items-center">
                                                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Etats Financiers</span>
                                                    </div>
                                                </a>
                                                <div class="parent-wrapper">
                                                    <ul class="nav collapse parent" data-bs-parent="#appFinpronet" id="nv-events4">
                                                        <li class="collapsed-nav-item-title d-none">Etats Financiers</li>
                                                        <li class="nav-item">
                                                            <a class="nav-link EtatsFinanciers" href="#" name="EtatStandard" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Etats Standards</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link EtatsFinanciers" href="#" name="EtatIFR" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Etat IFR</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link EtatsFinanciers" href="#" name="Ratios" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Ratios</span></div>
                                                            </a> 
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-item-wrapper">
                                                <a class="nav-link dropdown-indicator" href="#nv-events5" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-events">
                                                    <div class="d-flex align-items-center">
                                                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Marchés Engagements</span>
                                                    </div>
                                                </a>
                                                <div class="parent-wrapper">
                                                    <ul class="nav collapse parent" data-bs-parent="#appFinpronet" id="nv-events5">
                                                        <li class="collapsed-nav-item-title d-none">Marchés Engagements</li>
                                                        <li class="nav-item">
                                                            <a class="nav-link MarchesEngagements" href="#" name="Parametres" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Paramètres</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link MarchesEngagements" href="#" name="FicheMarche" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Fiches Marchés</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link MarchesEngagements" href="#" name="Exploitations" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Exploitations</span></div>
                                                            </a> 
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-item-wrapper">
                                                <a class="nav-link dropdown-indicator" href="#nv-events6" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-events">
                                                    <div class="d-flex align-items-center">
                                                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Décaissements</span>
                                                    </div>
                                                </a>
                                                <div class="parent-wrapper">
                                                    <ul class="nav collapse parent" data-bs-parent="#appFinpronet" id="nv-events6">
                                                        <li class="collapsed-nav-item-title d-none">Décaissements</li>
                                                        <li class="nav-item">
                                                            <a class="nav-link Decaissements" href="#" name="Parametres" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Paramètres</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link Decaissements" href="#" name="Exploitations" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Exploitations</span></div>
                                                            </a> 
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-item-wrapper">
                                                <a class="nav-link dropdown-indicator" href="#nv-events7" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-events">
                                                    <div class="d-flex align-items-center">
                                                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Utilitaires</span>
                                                    </div>
                                                </a>
                                                <div class="parent-wrapper">
                                                    <ul class="nav collapse parent" data-bs-parent="#appFinpronet" id="nv-events7">
                                                        <li class="collapsed-nav-item-title d-none">Utilitaires</li>
                                                        <li class="nav-item">
                                                            <a class="nav-link Utilitaires" href="#" name="BaseDonnees" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Base de Données</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link Utilitaires" href="#" name="Interfaces" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Interfaces</span></div>
                                                            </a> 
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link Utilitaires" href="#" name="tracabilite" data-bs-toggle="" aria-expanded="false">
                                                                <div class="d-flex align-items-center"><span class="nav-link-text">Traçabilité</span></div>
                                                            </a> 
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav-item-wrapper">
                                <a class="nav-link dropdown-indicator label-1" href="#appFinStock" role="button" data-bs-toggle="collapse" aria-expanded="@(NameTitrecontroller == "FINSTOCK"?"true":"false")" aria-controls="appFinStock">
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><i class="fa fa-cog"></i></span><span class="nav-link-text">FINSTOCK</span><span class="fa-solid fa-circle text-info ms-1 new-page-indicator" style="font-size: 6px"></span>
                                    </div>
                                </a>
                                <div class="parent-wrapper label-1">
                                    <ul class="nav collapse parent @(NameTitrecontroller == "FINSTOCK"?"show":"")" data-bs-parent="#navbarVerticalCollapse" id="appFinStock">
                                        <li class="collapsed-nav-item-title d-none">FINSTOCK</li>
                                        <li class="nav-item">
                                            <a class="nav-link dropdown-indicator" href="#nv-events8" role="button" data-bs-toggle="collapse" aria-expanded="@(Namecontroller == "FINSTOCKParam"?"true":"false")" aria-controls="nv-CRM">
                                                <div class="d-flex align-items-center">
                                                    <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Paramétres</span>
                                                </div>
                                            </a>
                                            <div class="parent-wrapper">
                                                <ul class="nav collapse parent @(Namecontroller == "FINSTOCKParam"?"show":"")" data-bs-parent="#appFinStock" id="nv-events8">
                                                    <li class="nav-item">
                                                        <a class="nav-link FINSTOCKParam @(action == "Structures"?"active":"")" href="#" name="Structures" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Structures</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINSTOCKParam" href="#" name="Saisie_Sites" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Sites</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINSTOCKParam @(action == "magasins"?"active":"")" href="#" name="magasins" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Magasins</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINSTOCKParam" href="#" name="Familles" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Familles</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINSTOCKParam @(action == "groupes"?"active":"")" href="#" name="groupes" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Groupes</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINSTOCKParam @(action == "services"?"active":"")" href="#" name="services" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Services</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINSTOCKParam" href="#" name="Consommateurs" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Consommateurs</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINSTOCKParam" href="#" name="signataire" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Signataires</span></div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a class="nav-link dropdown-indicator" href="#nv-events9" role="button" data-bs-toggle="collapse" aria-expanded="@(Namecontroller == "FINSTOCKSaisie"?"true":"false")" aria-controls="nv-project-management">
                                                <div class="d-flex align-items-center">
                                                    <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Saisie</span>
                                                </div>
                                            </a>
                                            <div class="parent-wrapper">
                                                <ul class="nav collapse parent @(Namecontroller == "FINSTOCKSaisie"?"show":"")" data-bs-parent="#appFinStock" id="nv-events9">
                                                    <li class="collapsed-nav-item-title d-none">Saisie</li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINSTOCKSaisie @(action == "Articles"?"active":"")" href="#" name="Articles" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Articles</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINSTOCKSaisie @(action == "Affectations"?"active":"")" href="#" name="Affectations" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Affectations</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINSTOCKSaisie @(action == "EntreeStock"?"active":"")" href="#" name="EntreeStock" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Entrée de stock</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINSTOCKSaisie" href="#" name="SortieStock" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Sortie de Stock</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link FINSTOCKSaisie" href="#" name="Mouvements" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Mouvements</span></div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link dropdown-indicator" href="#nv-events10" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-email">
                                                <div class="d-flex align-items-center">
                                                    <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Exploitations</span>
                                                </div>
                                            </a>
                                            <div class="parent-wrapper">
                                                <ul class="nav collapse parent" data-bs-parent="#appFinStock" id="nv-events10">
                                                    <li class="collapsed-nav-item-title d-none">Exploitations</li>
                                                    <li class="nav-item">
                                                        <a class="nav-link Exploitations" href="#" name="JournalStock" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Journal de stocks</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link Exploitations" href="#" name="GrandLivre" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Grand Livre</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link Exploitations" href="#" name="PropositionCommandes" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Proposition de commandes</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link Exploitations" href="#" name="EtatStock" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Etats des stocks</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link Exploitations" href="#" name="RuptureStock" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Rupture de stocks</span></div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link dropdown-indicator" href="#nv-events11" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-events">
                                                <div class="d-flex align-items-center">
                                                    <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-text">Consommations</span>
                                                </div>
                                            </a>
                                            <div class="parent-wrapper">
                                                <ul class="nav collapse parent" data-bs-parent="#appFinStock" id="nv-events11">
                                                    <li class="collapsed-nav-item-title d-none">Consommations</li>
                                                    <li class="nav-item">
                                                        <a class="nav-link Consommations" href="#" name="Consommateur" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Consommations par consommateur</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link Consommations" href="#" name="EtatCompta" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Etat pour la comptabilité</span></div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link Consommations" href="#" name="ConsomService" data-bs-toggle="" aria-expanded="false">
                                                            <div class="d-flex align-items-center"><span class="nav-link-text">Consommations par service</span></div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>

                        </li>





                       
                        
                        
                    </ul>
                </div>
            </div>
            <div class="navbar-vertical-footer"><button class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-8"></span><span class="uil uil-arrow-from-right fs-8"></span><span class="navbar-vertical-footer-text ms-2">Vue reduite</span></button></div>
        </nav>
        @Html.Partial("navbar/navbarDefault")
        @Html.Partial("navbar/topNavSlim")
        @Html.Partial("navbar/navbarTop")
        @Html.Partial("navbar/navbarTopSlim")
        @Html.Partial("navbar/navbarCombo")
        @Html.Partial("navbar/navbarComboSlim")
        @Html.Partial("navbar/dualNav")
        <script>
            var navbarTopShape = window.config.config.phoenixNavbarTopShape;
            var navbarPosition = window.config.config.phoenixNavbarPosition;
            var body = document.querySelector('body');
            var navbarDefault = document.querySelector('#navbarDefault');
            var navbarTop = document.querySelector('#navbarTop');
            var topNavSlim = document.querySelector('#topNavSlim');
            var navbarTopSlim = document.querySelector('#navbarTopSlim');
            var navbarCombo = document.querySelector('#navbarCombo');
            var navbarComboSlim = document.querySelector('#navbarComboSlim');
            var dualNav = document.querySelector('#dualNav');

            var documentElement = document.documentElement;
            var navbarVertical = document.querySelector('.navbar-vertical');

            if (navbarPosition === 'dual-nav') {
                topNavSlim.remove();
                navbarTop.remove();
                navbarVertical.remove();
                navbarTopSlim.remove();
                navbarCombo.remove();
                navbarComboSlim.remove();
                navbarDefault.remove();
                dualNav.removeAttribute('style');
                document.documentElement.setAttribute('data-navigation-type', 'dual');

            } else if (navbarTopShape === 'slim' && navbarPosition === 'vertical') {
                navbarDefault.remove();
                navbarTop.remove();
                navbarTopSlim.remove();
                navbarCombo.remove();
                navbarComboSlim.remove();
                topNavSlim.style.display = 'block';
                navbarVertical.style.display = 'inline-block';
                document.documentElement.setAttribute('data-navbar-horizontal-shape', 'slim');

            } else if (navbarTopShape === 'slim' && navbarPosition === 'horizontal') {
                navbarDefault.remove();
                navbarVertical.remove();
                navbarTop.remove();
                topNavSlim.remove();
                navbarCombo.remove();
                navbarComboSlim.remove();
                navbarTopSlim.removeAttribute('style');
                document.documentElement.setAttribute('data-navbar-horizontal-shape', 'slim');
            } else if (navbarTopShape === 'slim' && navbarPosition === 'combo') {
                navbarDefault.remove();
                navbarTop.remove();
                topNavSlim.remove();
                navbarCombo.remove();
                navbarTopSlim.remove();
                navbarComboSlim.removeAttribute('style');
                navbarVertical.removeAttribute('style');
                document.documentElement.setAttribute('data-navbar-horizontal-shape', 'slim');
            } else if (navbarTopShape === 'default' && navbarPosition === 'horizontal') {
                navbarDefault.remove();
                topNavSlim.remove();
                navbarVertical.remove();
                navbarTopSlim.remove();
                navbarCombo.remove();
                navbarComboSlim.remove();
                navbarTop.removeAttribute('style');
                document.documentElement.setAttribute('data-navigation-type', 'horizontal');
            } else if (navbarTopShape === 'default' && navbarPosition === 'combo') {
                topNavSlim.remove();
                navbarTop.remove();
                navbarTopSlim.remove();
                navbarDefault.remove();
                navbarComboSlim.remove();
                navbarCombo.removeAttribute('style');
                navbarVertical.removeAttribute('style');
                document.documentElement.setAttribute('data-navigation-type', 'combo');


            } else {
                topNavSlim.remove();
                navbarTop.remove();
                navbarTopSlim.remove();
                navbarCombo.remove();
                navbarComboSlim.remove();
                navbarDefault.removeAttribute('style');
                navbarVertical.removeAttribute('style');
            }

            var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
            var navbarTop = document.querySelector('.navbar-top');
            if (navbarTopStyle === 'darker') {
                navbarTop.setAttribute('data-navbar-appearance', 'darker');
            }

            var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
            var navbarVertical = document.querySelector('.navbar-vertical');
            if (navbarVerticalStyle === 'darker') {
                navbarVertical.setAttribute('data-navbar-appearance', 'darker');
            }
        </script>
        <div class="content">
            <input type="hidden" name="@action" value="@action" id="pageName" class="form-control" />


            <input type="hidden" name="@NameTitrecontroller" value="@NameTitrecontroller" id="pageNameTitreController" class="form-control" />
            <input type="hidden" name="@controller" value="@controller" id="pageNameController" class="form-control" />
            <input type="hidden" name="@projet" value="@projet" id="pageNameProjet" class="form-control" />


            <input type="text" name="nameIDButton" value="" id="nameIDButton" class="form-control" />
            @RenderBody()
            @*@Html.Partial("footer")*@
        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    @Html.Partial("customize")

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/anchor.min.js"></script>
    <script src="~/js/is.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/lodash.min.js"></script>
    @*<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>*@
    <script src="~/js/list.min.js"></script>
    <script src="~/js/feather.min.js"></script>
    <script src="~/js/dayjs.min.js"></script>
    <script src="~/js/phoenix.js"></script>
    <script src="~/js/echarts.min.js"></script>
    <script src="~/js/leaflet.js"></script>
    <script src="~/js/leaflet.markercluster.js"></script>
    <script src="~/js/leaflet-tilelayer-colorfilter.min.js"></script>
    <script src="~/js/ecommerce-dashboard.js"></script>
    <script src="~/js/Layout.js"></script>
</body>

</html>